<mat-card>
    <img src="../../../../assets/Images/logo.png" alt="Visilean Logo">
    <h1>Login to your account</h1>
    
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username">
          <mat-icon matSuffix>person</mat-icon>
          <!-- <mat-hint>Min 8 char 1 number and 1 alpha</mat-hint> -->
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary">Next</button>

</mat-card>

