<div fxLayoutAlign="center center" fxFlexFill>
<mat-card fxFlex="25" class="loginCard">
    <img src="../../../../assets/Images/logo.png" alt="Visilean Logo" class="img-fluid ">
  <from fxLayoutAlign="center center" fxLayout="column"  [formGroup]='loginForm' autocomplete="off">
    <h1  *ngIf="hideShowLoginContent"class="loginText">Login to your account</h1>
    <h1  *ngIf="!hideShowLoginContent"class="loginText">Welcome</h1>
    <div class="inputField" *ngIf="hideShowLoginContent"> 
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" (keyup)="checkData()">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="f.username.hasError('required')">
            User Name is <strong>required</strong>
        </mat-error>
        </mat-form-field>
      </div>
      <div class="inputField" *ngIf="!hideShowLoginContent">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" (keyup)="checkData()" >
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.password.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <p fxLayoutAlign="end">Forgot password?</p>
      <button *ngIf="!hideShowLoginContent"mat-raised-button class="btn-block loginBtn" >Submit</button>
      </div>
      <button *ngIf="hideShowLoginContent" (click)="showPasswordValidationPage()" mat-raised-button class="btn-block loginBtn" >Next</button>
    </from>
</mat-card>
</div>

