<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" class="loginCard">
        <img src="../../../../assets/Images/logo.png" alt="Visilean Logo" class="img-fluid ">
     
        <h1  class="loginText">Login to your account</h1>   
        <form fxLayoutAlign="center center" fxLayout="column"  [formGroup]="loginForm"  (ngSubmit)="onSubmit()" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
        <div class="inputField"> 
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="userName"  >
              <mat-icon matSuffix>person</mat-icon>
              
            </mat-form-field>
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">user Name is required</div>
            </div>

        </div>
          <div class="inputField">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             
          </mat-form-field>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
          <p fxLayoutAlign="end">Forgot password?</p>
          </div>
          <button type="submit" mat-raised-button class="btn-block loginBtn" >Next</button>
        </form>
    </mat-card>
    </div>
    
    
